div.ecRow {
  height: 30px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}

div.ecRow > * {
  margin-left: 10px;
}

div.controlGroup {
  margin-left: 14px;
  height: 22px;
  display: flex;
  flex-direction: row;
}

#editControls {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

#enemyControls {
  display: none;
}

#wallControls {
  display: none;
}

#spawnControls {
  display: none;
}
